
{% extends 'glowny.html' %}
{% load bootstrap %}

{% block tytul %}Zmień Film {% endblock %}

{% block strona %}

<div class="card" style="width: 27rem;">
    <div class="card-body">
        <h5 class="card-title">Logowanie</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary" type="submit">Zaloguj  <i class="fas fa-sign-in-alt"></i></button>
        </form>
        </div>
      </div>
    {% endblock %}