body {
    padding: 2rem;
    
}

.btn {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn1 {
    margin-top: 65px;
    margin-bottom: 0px;
}
.jumbotron {
    padding-bottom: 15px;
}

.film {
    float: left;
    margin-right: 15px;
}
.ocena {
    color: rgb(224, 191, 0);
}

.section-inner {
    font-size: 24px;
    margin-top: 20px;
}