{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Filmy</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h3>Witaj {{user.username}}!</h3>
        <a href="{% url 'logout' %}">Wyloguj</a>
    {% else %}
        <a href="{% url 'login' %}">Zaloguj</a>
    {% endif%}

    <hr>

    <a href="{% url 'nowy_film' %}">Nowy Film</a>
    <h1>Moje filmy</h1>
    {% for film in filmy %}
    <p>{{film}}</p>
    <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
    <a href="{% url 'usun_film' film.id %}">Usuń</a>
    {% endfor%}

</body>
</html>