{% extends 'glowny.html' %}

{% block tytul %}Lista Filmów {% endblock %}

{% block strona %}
    <div class="jumbotron">
        {% if user.is_authenticated %}

            <h1 class="display-4">Witaj {{user.username}}!</h1>
            <p>Witam na moim filmowym blogu!</p>
            <a href="{% url 'logout' %}"><button type="submit" class="btn btn1 btn-primary"><i class="fas fa-sign-out-alt"></i>Wyloguj </button></a>

        {% else %}

            <h1 class="display-4">Witaj Nieznajomy!</h1>
            <a href="{% url 'logout' %}"><button type="submit" class="btn btn-success"><i class="fas fa-user"></i>  Zaloguj </button></a>
           
        {% endif%}
            
     </div>
        

    <hr>

    <a class="btn btn-primary" href="{% url 'nowy_film' %}">Nowy Film <i class="fas fa-plus"></i></a>
    <br>
    <hr>
    <br>
    <h4>Moje ulubione filmy: </h4>
    <br>
    

    {% for film in filmy %}
    <div class="card" style="width: 36rem;">
        <div class="card-body">
          <img src="/media/{{ film.plakat }}" alt="" class="film">
          <h5 class="card-title">{{film.tytul}}</h5>
          <p class="card-text">{{film.opis}}</p>
          <p>Rok: <strong>{{film.rok}}</strong></p>
          <p>Ocena: <span class="ocena"><strong>{{film.imdb_rating}} </strong><i class="fas fa-star"></i></span></p>
          <a href="{% url 'edytuj_film' film.id %}"><i class="fas fa-edit"></i>Edytuj</a>
          <a href="{% url 'usun_film' film.id %}"><i class="far fa-trash-alt"></i>Usuń</a>
         
        </div>
      </div>
    
    {% endfor%}

    <div class="pagination">
        <div class="section-inner clearfix">
            <p>
                {% if filmy.has_previous %}
                    <a class="btn btn-primary" href="?page=1">Pierwsza</a>
                    <a class="btn btn-primary" href="?page={{ filmy.previous_page_number }}"> < Poprzednia</a>
                {% endif %}
                
                <span>Strona {{ filmy.number }} z {{ filmy.paginator.num_pages }}</span>

                {% if filmy.has_next %}
                    <a class="btn btn-primary" href="?page={{ filmy.next_page_number}}">Następna ></a>
                    <a class="btn btn-primary" href="?page={{ filmy.paginator.num_pages}}">Ostatnia</a>
                {% endif %}
    
            </p>
        </div>
    </div>

{% endblock %}